//Include the foundation style to be used with the customised style
@import "normalize";

@import "settings";

// Add all of the foundation features
@import "foundation";

//Foundation features can be included one by one if needed

@import "_custom.scss";

// Add padding to the top of the page

HTML {
  overflow-y: scroll;
}

BODY {
  background-color: #EFEFEF;
}

.topButton {
  margin-top: 20px;
}

TABLE {
  width: 100%;
}

.dataBox {
  background-color: #FFF;
  padding: 20px 10px;
  box-sizing: border-box;
}